node_modules/
playwright-report/
test-results/
test-results/
fixtures.ts
packcage-lock.json
,github
.vscode

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

.DS_Store
